<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<target xsi:type="Console" name="console"
    layout="${time}|${level}|${message}" />

		<target name="f"
						xsi:type="File"
						fileName="${basedir}\logs\NugetPackageUpdater.log"
						maxArchiveFiles="30"
						archiveEvery="Day"
						archiveFileName="${basedir}\logs\NugetPackageUpdater{shortdate}.log"
						layout="${longdate} | ${level} | ${message} | ${stacktrace}" />
	</targets>

	<rules>
		<logger minlevel="Info" name="*" writeTo="f" />
		<logger minlevel="Trace" name="*" writeTo="Console" />
	</rules>
</nlog>